<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACM Lab3 Oleh Serikov</title>
</head>
<body>
    <h1>Hello World</h1>
    <h3 class="variant">My variant is 22, y = 3 * cos(x) ^ 2 - x ^ 0.5</h3>
    {% if x %}
        <p class="label">X:</p>
        <ul class="x-list">
            {% for i in x %}
            <li class="x">{{i}}</li>
            {% endfor %}
        </ul>
        <p class="label">Y:</p>
        <ul class="y-list">
            {% for i in y %}
            <li class="y">{{i}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'gen-x' %}" class="button">Generate X and calculate their Y</a>
    {% endif %}
    {% if y_gen_by_i %}
        <p class="label">Newton interpolation polynomial:</p>
        <div class="polynomial">{{ polynomial }}</div>
        <p class="label">Y by Interpolation:</p>
        <ul class="x-list">
            {% for i in y_gen_by_i %}
            <li class="x">{{i}}</li>
            {% endfor %}
        </ul>
    {% elif x %}
        <a href="{% url 'interpolation' %}" class="button">Generate polynomial and Y by interpolation</a>
    {% endif %}
</body>
</html>